extends layout

block content
  h1= title
  p Welcome to #{title}

  p= JSON.stringify(asts)
  each result in asts
    p= result.info 
    img(src=`/images/${result.project}/${result.image}` alt=result.image)/
    br/
