extends layout

block content
  h1= title
  p Welcome to #{title}

  p= JSON.stringify(asts)
  div(style=`display:block;margin-top:25px`)
    each result in asts
      div(style=`display:inline-block;margin-right:7px;`)
        h4= result.info 
        img(src=`/images/${result.project}/${result.image}` alt=result.image)/
    
